.footer {
  display: flex;
  justify-content: center;

  font-size: 1rem;
  color: whitesmoke;   
  }
  .footer__link {
    color: white;
    padding-left: 1rem;
  }
  .footer__link:hover {
    color: var(--colorYellow);
  }