   .tabs-productos {
    font-size: 2.5rem;
    margin: 15px;
    background-color: #F5B22C;
    color: #faf5f5;
    border: 3px solid var(--colorYellow); 
    width: 15rem;
    height: 6rem;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.308);
    transition: 0.2s all;
  }
  .tabs-productos:active{
    /* background-color: var(--colorYellow); */
    background-color:#FC636B ;
    color: #faf5f5;
    /* transform: scale(0.98);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.308); */
  }
  
  .active-tabs-productos  {
    background-color: #d62f2f;
    color: #faf5f5;
  }
  .content {
    display: none;
  }
 
  .active-content {
    display: block;
  }